body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FADADD; /* Light pink background */
}
header {
    background-color: #FFC0CB; /* Classic pink */
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
    text-align: center;
}

.intro, .more-info {
    background-color: #FFF0F5; /* Lavender blush for content backgrounds */
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}
h1, h2 {
    color: #D74894; /* Strong pink for headings */
}
p {
    color: #333333; /* Dark grey for text for readability */
}
footer {
    background-color: #FFC0CB; /* Classic pink */
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
